.wrapper{
    background-color: #0e0b1a;
    min-height: 100vh;
}
.header{
    background-color: rgba(0,0,0,0.5);

    width: 100%;
    color: #fff;
    padding: 1%;
  
    text-align: right;
  }
.Title{
    padding-top: 15px;
    text-align: center;
}
  #homeLink{
    text-decoration: none;
    color: white;
    margin-right: 3px;
    font-weight: 750;
  }
  #logoutLink{
    text-decoration: none;
    color: white;
    margin-left: 3px;
    font-weight: 750;
  }
  