.wrapper{
    background-color: #0e0b1a;
    min-height: 100vh;

}
.header{
    background-color: rgba(0,0,0,0.5);
}
.Title{
    text-align: center;
}
.card-header{
    text-align: left;
  }
  .card-body{
    text-align:left;
  }
  .card-footer{
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  